.main-tile {
    position: relative;
    display: block;
    padding: 20px;
    margin-bottom: 10px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background-clip: padding-box;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.main-tile .icon {
    color: #f0f0f0;
    position: absolute;
    right: 5px;
    bottom: 20px;
    z-index: 1;
}
.main-tile .icon i {
    font-size: 100px;
    line-height: 0;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}
.main-tile .icon i:before {
    margin: 0;
    padding: 0;
    line-height: 0;
}
.main-tile .num,
.main-tile h3,
.main-tile p {
    position: relative;
    color: #303641;
    z-index: 5;
    margin: 0;
    padding: 0;
}
.main-tile .num {
    font-size: 38px;
    font-weight: bold;
}
.main-tile h3 {
    font-size: 18px;
    margin-top: 5px;
}
.main-tile p {
    font-size: 11px;
    margin-top: 5px;
}

.dataTables_wrapper {
    border: none !important
}

.num {
    margin-bottom: 5px !important;
}




