<!DOCTYPE html>
<html lang="es">

    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Sistema de Administración Malbec" />
        <meta name="author" content="" />
        <title>{% block title %} {% endblock title %} </title>

        {% block stylesheet %}



            <link rel="stylesheet" href="{{ BASE_URL }}/assets/bower_components/jquery-ui/themes/base/all.css">
            <link rel="stylesheet" href="{{ BASE_URL }}/assets/css/font-icons/entypo/css/entypo.css">
            <link rel="stylesheet" href="{{ BASE_URL }}/assets/css/font-icons/font-awesome/css/font-awesome.min.css">
            <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">
            <link rel="stylesheet" href="{{ BASE_URL }}/assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ BASE_URL }}/assets/css/neon-core.css">
            <link rel="stylesheet" href="{{ BASE_URL }}/assets/css/neon-theme.css">
            <link rel="stylesheet" href="{{ BASE_URL }}/assets/css/neon-forms.css">
            <link rel="stylesheet" href="{{ BASE_URL }}/assets/css/custom.css">
        {% endblock stylesheet %}


        <!--[if lt IE 9]><script src="assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="page-body login-page login-form-fall">
        <script type="text/javascript">
            var baseurl = '{{ BASE_URL }}';
        </script>
        {% block content %}
        {% endblock content %}


        {% block javascript %}

            <script src="{{ BASE_URL }}/assets/bower_components/jquery/dist/jquery.min.js"></script>
            <script src="{{ BASE_URL }}/assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="{{ BASE_URL }}/assets/bower_components/jquery-ui/jquery-ui.min.js"></script>
            <script src="{{ BASE_URL }}/assets/bower_components/gsap/src/minified/TweenMax.min.js"></script>
            <script src="{{ BASE_URL }}/assets/js/neon-api.js"></script>
            <script src="{{ BASE_URL }}/assets/js/resizeable.js"></script>

        {% endblock javascript %}
    </body>
</html>