{% extends "BASE.twig" %}

{% block content %}
    <div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
        <div class="sidebar-menu hidden-print">
            <div class="sidebar-menu-inner">
                <header class="logo-env">
                    <!-- logo -->
                    <div class="logo">
                        <a href="{{BASE_URL}}/panel">
                            <img src="{{ BASE_URL }}/assets/images/logo-malbec2.png" width="150" alt="" />
                        </a>
                    </div>
                    <!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
                    <div class="sidebar-mobile-menu visible-xs">
                        <a href="#" class="with-animation"><!-- add class "with-animation" to support animation -->
                            <i class="entypo-menu"></i>
                        </a>
                    </div>

                    <div class="sidebar-collapse">
                        <a href="javascript: toggle_sidebar_menu(true);"class="sidebar-collapse-icon " ><!-- add class "with-animation" if you want sidebar to have animation during expanding/collapsing transition -->
                            <i class="entypo-menu"></i>
                        </a>
                    </div>

                </header>
                <ul id="main-menu" class="main-menu auto-inherit-active-class">
                    <li >
                        <a href="{{ BASE_URL }}/panel">
                            <i class="entypo-home"></i>
                            <span class="title">Inicio</span>
                        </a>
                    </li>
                    <li >
                        <a href="{{ BASE_URL }}/panel/clientes"><i class="entypo entypo-database"></i><span class="title">Clientes</span></a>
                    </li>
                    <li >
                        <a href="{{ BASE_URL }}/panel/visitas"><i class="entypo entypo-calendar"></i><span class="title">Visitas</span></a>
                    </li>
                    <li >
                        <a href="{{ BASE_URL }}/panel/tecnicos"><i class="entypo entypo-tools"></i><span class="title">Técnicos</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-content">
            <div class="row hidden-print">
                <!-- Profile Info and Notifications -->
                <div class="col-md-6 col-sm-8 clearfix">
                    <ul class="user-info pull-left pull-none-xsm">
                        <!-- Profile Info -->
                        <li class="profile-info dropdown"><!-- add class "pull-right" if you want to place this from right -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="{{ BASE_URL }}/assets/images/user.png" alt="" class="img-circle" width="44" />ADMINISTRADOR
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-4 clearfix">
                    <ul class="list-inline links-list pull-right">
                        <li>
                            <a href="/panel/logout">
                                Salir <i class="entypo-logout right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr />
            {% block panelcontent %}
            {% endblock panelcontent %}
            {% block footer %}
                <footer class="main hidden-print">
                    &copy; 2017 <strong>SISTEMA DE ADMINISTRACIÓN MALBEC</strong> Prototipo
                </footer>
            {% endblock footer %}
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ BASE_URL }}/assets/js/neon-api.js"></script>
    <!-- JavaScripts initializations and stuff -->
    <script src="{{ BASE_URL }}/assets/js/neon-custom.js"></script>
    <script src="{{ BASE_URL }}/assets/js/basePanel.js"></script>

{% endblock javascript %}