{% extends "BASE.twig" %}
{% block title %} SAM INGRESO {% endblock title %}
{% block content %}

    <div class="login-container">
        <div class="login-header login-caret">
            <div class="login-content">
                <img src="{{ BASE_URL }}/assets/images/logo-malbec2.png" width="60%"/>
                <!-- progress bar indicator -->
                <div class="login-progressbar-indicator">
                    <h3>43%</h3>
                    <span>ingresando...</span>
                </div>
            </div>
        </div>
        <div class="login-progressbar">
            <div></div>
        </div>
        <div class="login-form">
            <div class="login-content">
                <div class="form-login-error">
                    <h3>Credenciales inválidas</h3>
                </div>
                <form method="post" role="form" id="form_login">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="entypo-user"></i>
                            </div>
                            <input type="text" class="form-control" name="username" id="username" placeholder="Usuario" autocomplete="off" autofocus />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="entypo-key"></i>
                            </div>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Contraseña" autocomplete="off" />
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block btn-login">
                            <i class="entypo-login"></i>
                            Continuar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}


{% block javascript %}
    {{ parent() }}
    <script src="{{ BASE_URL }}/assets/js/neon-login.js"></script>
    <script src="{{ BASE_URL }}/assets/js/neon-custom.js"></script>
    <script src="{{ BASE_URL }}/assets/js/neon-demo.js"></script>
    <script src="{{ BASE_URL }}/assets/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
{% endblock javascript %}