{% extends "basePanel.twig" %}

{% block title %} {{ parent() }} EQUIPOS {% endblock title %}
{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ BASE_URL }}/assets/bower_components/datatables/media/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{{ BASE_URL }}/assets/bower_components/EasyAutocomplete/dist/easy-autocomplete.min.css">
    <link rel="stylesheet" href="{{ BASE_URL }}/assets/css/panel.css">
{% endblock stylesheet %}
{% block panelcontent %}
    <ol class="breadcrumb">
        <li>
            <a href="{{ BASE_URL }}/panel/clientes">
                <i class="entypo-database"></i>
                Clientes
            </a>
        </li>
        <li><a href='{{ BASE_URL }}/panel/cliente/{{ branch.empresa_id }}/sucursales'>{{ branch.empresa_nombre }} ({{ branch.empresa_id }})</a></li>
        <li class="active">{{ branch.sucursal_nombre }} ({{ branch.sucursal_id }})</li>
    </ol>

    <div class="main-tile hidden-print">
        <div class="num">Equipos</div>
        <button href="javascript:;" onclick="jQuery('#newequipment-modal').modal('show');"  type="button" class="btn btn-malbec hidden-print">
            <i class="entypo-plus"></i>
            Nuevo Equipo
        </button>
    </div>
    <div class="table-responsive">
        <table id="equipment-list" class="table table-hover table table-bordered datatable responsive hidden-print">
            <thead>
                <tr>
                    <th>ETIQUETA</th>
                    <th>UBICACION</th>
                    <th>PISO</th>
                    <th>TIPO</th>
                    <th>MARCA</th>
                    <th>MODELO</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                {% for equipment in equipments %}
                    <tr>
                        <td>{{ equipment.equipo_nombre }}</td>
                        <td>{{ equipment.equipo_ubicacion }}</td>
                        <td>
                            {% set piso = equipment.equipo_piso %}
                            {% if piso=="AZ" %}Azotea{% endif %}
                            {% if piso=="01" %}01{% endif %}
                            {% if piso=="02" %}02{% endif %}
                            {% if piso=="03" %}03{% endif %}
                            {% if piso=="04" %}04{% endif %}
                            {% if piso=="S1" %}Subterraneo -1{% endif %}
                            {% if piso=="S2" %}Subterraneo -2{% endif %}
                        </td>
                        <td>
                            {% set tipo = equipment.equipo_tipo %}
                            {% if tipo=="BBA" %}Bomba de Agua{% endif %}
                            {% if tipo=="CSP" %}Central Split{% endif %}
                            {% if tipo=="CCP" %}Central Compacta{% endif %}
                            {% if tipo=="CAI" %}Cortina de Aire{% endif %}
                            {% if tipo=="VEN" %}Equipo de Ventana{% endif %}
                            {% if tipo=="VEX" %}Extractor de Aire{% endif %}
                            {% if tipo=="FCL" %}Fan Coil{% endif %}
                            {% if tipo=="VIN" %}Inyector de Aire{% endif %}
                            {% if tipo=="RFT" %}Roof Top{% endif %}
                            {% if tipo=="SCP" %}Split Cassette{% endif %}
                            {% if tipo=="SPM" %}Split Muro{% endif %}
                            {% if tipo=="SPP" %}Split Piso Cielo{% endif %}
                            {% if tipo=="UMA" %}Manejadora de Aire{% endif %}
                            {% if tipo=="VRI" %}VRV Interior{% endif %}
                            {% if tipo=="WCH" %}Water Chiller{% endif %}
                            {% if tipo=="CAL" %}Caldera{% endif %}
                            {% if tipo=="EEA" %}Equipo enfriado por agua{% endif %}
                            {% if tipo=="EPR" %}Equipo de Precisión{% endif %}
                            {% if tipo=="RDR" %}Radiador{% endif %}
                            {% if tipo=="TRE" %}Torre de Enfriamiento{% endif %}
                            {% if tipo=="CRF" %}Cámara de Refrigeración{% endif %}
                            {% if tipo=="CAM" %}Campana de Cocina{% endif %}
                            {% if tipo=="COL" %}Cooler{% endif %}
                            {% if tipo=="DMP" %}Damper{% endif %}
                            {% if tipo=="PSD" %}Presurizador{% endif %}
                            {% if tipo=="QMD" %}Quemador{% endif %}
                            {% if tipo=="RFD" %}Refrigerador{% endif %}
                            {% if tipo=="VDC" %}Ventilador de Condensador{% endif %}
                            {% if tipo=="MSP" %}Multisplit{% endif %}
                            {% if tipo=="EVM" %}Evaporador Muro{% endif %}
                            {% if tipo=="ECF" %}Equipo Exterior Camara de Frio{% endif %}
                            {% if tipo=="CCF" %}Condensadora Camara de Frio{% endif %}
                        </td>
                        <td>{{ equipment.equipo_marca }}</td>
                        <td>{{ equipment.equipo_modelo }}</td>
                        <td>
                            <input class="equipment_id" type="hidden" value="{{ equipment.equipo_id }}" />
                            <button type="button" data-json="{{ equipment.equipo_detalles|json_encode() }}" class="btn btn-sm btn-info details-modal"><i class="fa fa-expand"></i></button>
                            <a href="{{ BASE_URL }}/panel/cliente/{{ branch.empresa_id }}/sucursal/{{ branch.sucursal_id }}/equipo/{{equipment.equipo_id }}/revisiones " type="button" class="btn btn-sm btn-gold waves-effect"><i class="fa fa-navicon"></i></a>
                            <button type="button" class="btn btn-sm btn-danger equipment-delete_action-button"><i class="fa fa-close"></i></button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal NEW equipment-->
    <div class="modal fade custom-width hidden-print" tabindex="-1" id="newequipment-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title center">Nuevo equipo</h3>
                </div>

                <div class="modal-body form-group">
                    <div class="form-group">
                        <input id='newequipment-branchid-input' type="hidden" value="{{branch.sucursal_id}}" />
                        <label>Nombre del Equipo:</label>
                        <input class="form-control" type="text" id="newequipment-name-input" placeholder="">
                    </div>

                    <div class="form-group">
                        <label>Tipo de Equipo:</label>
                        <select class="form-control" id="newequipment-type-input">
                            <option selected>Seleccionar..</option>
                            <option value="BBA">Bomba de Agua</option>
                            <option value="CSP">Central Split</option>
                            <option value="CCP">Central Compacta</option>
                            <option value="CAI">Cortina de Aire</option>
                            <option value="VEN">Equipo de Ventana</option>
                            <option value="VEX">Extractor de Aire</option>
                            <option value="FCL">Fan Coil</option>
                            <option value="VIN">Inyector de Aire</option>
                            <option value="RFT">Roof Top</option>
                            <option value="SCP">Split Cassette</option>
                            <option value="SPM">Split Muro</option>
                            <option value="SPP">Split Piso Cielo</option>
                            <option value="UMA">Manejadora de Aire</option>
                            <option value="VRI">VRV Interior</option>
                            <option value="WCH">Water Chiller</option>
                            <option value="CAL">Caldera</option>
                            <option value="EEA">Equipo enfriado por agua</option>
                            <option value="EPR">Equipo de Precisión</option>
                            <option value="RDR">Radiador</option>
                            <option value="TRE">Torre de Enfriamiento</option>
                            <option value="CRF">Cámara de Refrigeración</option>
                            <option value="CAM">Campana de Cocina</option>
                            <option value="COL">Cooler</option>
                            <option value="DMP">Damper</option>
                            <option value="PSD">Presurizador</option>
                            <option value="QMD">Quemador</option>
                            <option value="RFD">Refrigerador</option>
                            <option value="VDC">Ventilador de Condensador</option>
                            <option value="MSP">Multisplit</option>
                            <option value="EVM">Evaporador Muro</option>
                            <option value="ECF">Equipo Exterior Camara de Frio</option>
                            <option value="CCF">Condensadora Camara de Frio</option>
                        </select>
                    </div>
                    <p></p>
                    <div class="form-group">
                        <label>Marca del Equipo:</label>
                        <input class="form-control" type="text" id="newequipment-brand-input" placeholder="">
                    </div>
                    <div class="form-group">
                        <label>Modelo del Equipo:</label>
                        <input class="form-control" type="text" id="newequipment-model-input" placeholder="">
                    </div>
                    <div class="form-group">
                        <label>N° de serie del Equipo:</label>
                        <input class="form-control" type="text" id="newequipment-serial-input" placeholder="">
                    </div>
                    <div class="form-group">
                        <label>Ubicacion del Equipo:</label>
                        <input class="form-control" type="text" id="newequipment-location-input" placeholder="">
                    </div>
                    <div class="form-group">
                        <label>Piso:</label>
                        <select class="form-control" id="newequipment-floor-input">
                            <option selected>Seleccionar..</option>
                            <option value="01">Piso 1</option>
                            <option value="02">Piso 2</option>
                            <option value="03">Piso 3</option>
                            <option value="04">Piso 4</option>
                            <option value="AZ">Azotea</option>
                            <option value="S1">Subterraneo -1</option>
                            <option value="S2">Subterraneo -2</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Periodicidad:</label>
                        <select class="form-control" id="newequipment-periodicity-input">
                            <option selected>Seleccionar..</option>
                            <option value="1">Mensual</option>
                            <option value="2">Bi Mensual</option>
                            <option value="3">Trimestral</option>
                            <option value="4">Cuatrimestral</option>
                            <option value="6">Semestral</option>
                            <option value="12">Anual</option>
                        </select>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                    <button id="newequipment-submit-button" type="button" class="btn btn-gold">Agregar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal equipment details-->
    <div class="modal fade custom-width hidden-print" tabindex="-1" id="modal-details">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Detalles de equipo</h3>
                </div>

                <div class="modal-body">
                    <div class="table-responsive">
                        <table id="equipment-details" class="table table-hover table-bordered responsive hidden-print">
                            <thead>
                                <tr>
                                    <th width="50%">CLAVE</th>
                                    <th width="50%">VALOR</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock panelcontent %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ BASE_URL }}/assets/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="{{ BASE_URL }}/assets/bower_components/EasyAutocomplete/dist/jquery.easy-autocomplete.min.js"></script>
    <script src="{{ BASE_URL }}/assets/js/object-watch.js"></script>
    <script src="{{ BASE_URL }}/assets/js/branchEquipment.js"></script>
{% endblock javascript %}
{# empty Twig template #}
