{% extends "basePanel.twig" %}

{% block title %} {{ parent() }} SUCURSALES {% endblock title %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ BASE_URL }}/assets/bower_components/datatables/media/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{{ BASE_URL }}/assets/bower_components/EasyAutocomplete/dist/easy-autocomplete.min.css">
    <link rel="stylesheet" href="{{ BASE_URL }}/assets/css/panel.css">
{% endblock stylesheet %}

{% block panelcontent %}
    <ol class="breadcrumb">
        <li>
            <a href="{{ BASE_URL }}/panel/clientes">
                <i class="entypo-database"></i>
                Clientes
            </a>
        </li>
        <li class="active">{{ client.empresa_nombre }} ({{ client.empresa_id }})</li>
    </ol>

    <div class="main-tile hidden-print">
        <div class="num">Sucursales por cliente</div>
        <button href="javascript:;" onclick="jQuery('#newclient-modal').modal('show');"  type="button" class="btn btn-malbec hidden-print">
            <i class="entypo-plus"></i>
            Nueva Sucursal
        </button>
    </div>

    <div class="table-responsive">
        <table id="branches-list" class="table table-hover table-bordered datatable responsive hidden-print">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>COMUNA</th>
                    <th>DIRECCIÓN</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody >
                {% for branch in branches %}
                    <tr>
                        <td>{{ branch.sucursal_id }}</td>
                        <td>{{ branch.sucursal_nombre }}</td>
                        <td>{{ branch.sucursal_comuna }}</td>
                        <td>{{ branch.sucursal_direccion }}</td>

                        <td>
                            <input class="branch_id" type="hidden" value="{{ branch.sucursal_id }}" />
                            <button title="Encargados" type="button" class="btn btn-sm btn-info encargados-modal"><i class="fa fa-vcard"></i></button>
                            <a title="Equipos" type="button" class="btn btn-sm btn-gold" href="{{ BASE_URL }}/panel/cliente/{{ branch.empresa_id }}/sucursal/{{branch.sucursal_id }}/equipos "><i class="fa fa-navicon"></i></a>
                            <button type="button" class="btn btn-sm btn-danger cliente-delete_action-button"><i class="fa fa-close"></i></button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Modal new branch-->
    <div class="modal fade custom-width hidden-print" tabindex="-1" id="newclient-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Nueva sucursal</h3>
                </div>

                <div class="modal-body">
                    <input id="newbranch-clientid-input" type="hidden" value="{{client.empresa_id }}" />
                    <div class="form-group">
                        <label>Rut sucursal:</label>
                        <input class="form-control" type="text" id="newbranch-id-input" placeholder="Ingrese rut de sucursal">
                    </div>
                    <div class="form-group">
                        <label>Nombre de sucursal:</label>
                        <input class="form-control" type="text" id="newbranch-name-input" placeholder="Ingrese nombre de sucursal">
                    </div>
                    <div class="form-group">
                        <label>Comuna de sucursal:</label>
                        <input class="form-control" type="text" id="newbranch-location-input" placeholder="Ingrese comuna de sucursal">
                    </div>
                    <div class="form-group">
                        <label>Dirección de sucursal:</label>
                        <input class="form-control" type="text" id="newbranch-address-input" placeholder="Ingrese dirección de sucursal">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button id="newbranch-submit-button" type="button" class="btn btn-gold">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal encargados-->
    <div class="modal fade custom-width hidden-print" tabindex="-1" id="modal-encargados">
        <div class="modal-dialog" role="document" style="width: 65%">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Encargado(s) de sucursal</h3>
                </div>

                <div class="modal-body">
                    <div class="table-responsive">
                        <table id="tabla" class="table table-bordered datatable responsive hidden-print">
                            <thead>
                                <tr>
                                    <th>RUT</th>
                                    <th>NOMBRES </th>
                                    <th>APELLIDO</th>
                                    <th>TIPO</th>
                                </tr>
                            </thead>
                        </table>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock panelcontent %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ BASE_URL }}/assets/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="{{ BASE_URL }}/assets/bower_components/EasyAutocomplete/dist/jquery.easy-autocomplete.min.js"></script>
    <script src="{{ BASE_URL }}/assets/js/object-watch.js"></script>
    <script src="{{ BASE_URL }}/assets/js/clientBranch.js"></script>
{% endblock javascript %}
