{% extends "basePanel.twig" %}

{% block title %} {{ parent() }} REVISIONES {% endblock title %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ BASE_URL }}/assets/bower_components/datatables/media/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{{ BASE_URL }}/assets/bower_components/EasyAutocomplete/dist/easy-autocomplete.min.css">
    <link rel="stylesheet" href="{{ BASE_URL }}/assets/css/panel.css">
{% endblock stylesheet %}

{% block panelcontent %}
    <ol class="breadcrumb">
        <li>
            <a href="{{ BASE_URL }}/panel/clientes">
                <i class="entypo-database"></i>
                Clientes
            </a>
        </li>
        <li><a href='{{ BASE_URL }}/panel/cliente/{{ equipment.empresa_id }}/sucursales'>{{ equipment.empresa_nombre }} ({{ equipment.empresa_id }})</a></li>
        <li><a href='{{ BASE_URL }}/panel/cliente/{{ equipment.empresa_id }}/sucursal/{{ equipment.sucursal_id }}/equipos'>{{ equipment.sucursal_nombre }} ({{ equipment.sucursal_id }})</a></li>
        <li class="active">{{ equipment.equipo_nombre }} ({{ equipment.equipo_id }})</li>
    </ol>

    <div class="main-tile hidden-print">
        <div class="num">Revisiones de equipo</div>
    </div>
    <div class="table-responsive">
        <table id="revisions-list" class="table table-hover table table-bordered datatable responsive hidden-print">
            <thead>
                <tr>
                    <th>FECHA</th>
                    <th>TIPO</th>
                    <th>NOTAS</th>
                </tr>
            </thead>
            <tbody>
                {% for revision in revisions %}
                    <tr>
                        <td>{{ revision.visita_fecha|date('d/m/Y') }}</td>
                        <td>{% set estado = revision.revision_tipo %}
                            {% if estado==0 %}INSTALACION{% endif %}
                            {% if estado==1 %}REPARACION{% endif %}
                            {% if estado==2 %}MANTENCION{% endif %}
                            {% if estado==3 %}RETIRO{% endif %}
                        </td>
                        <td>{{ revision.revision_notas }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock panelcontent %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ BASE_URL }}/assets/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="{{ BASE_URL }}/assets/bower_components/EasyAutocomplete/dist/jquery.easy-autocomplete.min.js"></script>
    <script src="{{ BASE_URL }}/assets/js/object-watch.js"></script>
    <script src="{{ BASE_URL }}/assets/js/equipmentRevision.js"></script>
{% endblock javascript %}
