    {% extends "basePanel.twig" %}

{% block title %} {{ parent() }} COTIZACIONES {% endblock title %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ BASE_URL }}/assets/bower_components/datatables/media/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{{ BASE_URL }}/assets/bower_components/EasyAutocomplete/dist/easy-autocomplete.min.css">
    <link rel="stylesheet" href="{{ BASE_URL }}/assets/css/panelQuotation.css">
{% endblock stylesheet %}

{% block panelcontent %}
    <div class="main-tile">
        </br> </br> </br>
        </br>
        <div class="icon"><i class="entypo-help"></i></div>
        <div class="num"></div>
       

    </div>				
    <div class="page-error-404">
					
			<div class="error-symbol">
				<i class="entypo-attention"></i>
			</div>
			
			<div class="error-text">
				<h2>404</h2>
				<p>Page not found!</p>
			</div>
			
			<hr />
			
			<div class="error-text">
				
				Search Pages:
				
				<br />
				<br />
				
				<div class="input-group minimal">
					<div class="input-group-addon">
						<i class="entypo-search"></i>
					</div>
					
					<input type="text" class="form-control" placeholder="Search anything..." />
				</div>
				
			</div>
			
		</div>
	

{% endblock panelcontent %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ BASE_URL }}/assets/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="{{ BASE_URL }}/assets/bower_components/EasyAutocomplete/dist/jquery.easy-autocomplete.min.js"></script>

    <script src="{{ BASE_URL }}/assets/js/panelQuotation.js"></script>
{% endblock javascript %}
   
imput type text 