{% extends "basePanel.twig" %}

{% block title %} {{ parent() }} Inicio {% endblock title %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ BASE_URL }}/assets/css/panel.css">
{% endblock stylesheet %}

{% block panelcontent %}
    <div class="main-tile">
        <div class="icon"><i class="entypo-newproduct"></i></div>
        <div class="num">Inicio</div>
        <h3>Utilice el menú para acceder a los módulos.</h3>
        <br/>
        <br/>
        <br/>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="{{ BASE_URL }}/assets/images/malbec1.png" width="1000" >
                </div>

                <div class="item">
                    <img src="{{ BASE_URL }}/assets/images/malbec2.png" width="1000">
                </div>

                <div class="item">
                    <img src="{{ BASE_URL }}/assets/images/malbec3.png" width="1000">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

{% endblock panelcontent %}