{% extends "basePanel.twig" %}

{% block title %} {{ parent() }} CLIENTES {% endblock title %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ BASE_URL }}/assets/bower_components/datatables/media/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{{ BASE_URL }}/assets/bower_components/EasyAutocomplete/dist/easy-autocomplete.min.css">
    <link rel="stylesheet" href="{{ BASE_URL }}/assets/css/panel.css">
{% endblock stylesheet %}

{% block panelcontent %}
    <div class="main-tile hidden-print">
        <div class="icon"><i class="entypo-database"></i></div>
        <div class="num"><dt>Clientes</dt></div>
        <button href="javascript:;" onclick="jQuery('#newclient-modal').modal('show');"  type="button" class="btn btn-malbec hidden-print">
            <i class="entypo-plus"></i>
            Nuevo Cliente
        </button>
    </div>

    <div class="table-responsive">
        <table id="companies-list" class="table table-bordered table-hover table-condensed responsive hidden-print">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>SUCURSALES</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                {% for client in clients %}
                    <tr>
                        <td>{{ client.empresa_id }}</td>
                        <td>{{ client.empresa_nombre }}</td>
                        <td>{{ client.nsucursales }}</td>
                        <td>
                            <input type="hidden" value="{{ client.empresa_id }}" />
                            <a type="button" title="Ver sucursales" class="btn btn-sm btn-gold" href="{{ BASE_URL }}/panel/cliente/{{ client.empresa_id }}/sucursales"><i class="fa fa-navicon"></i></a>
                            <button title="Eliminar" type="button" class="btn btn-sm btn-danger cliente-delete_action-button"><i class="fa fa-close"></i></button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Modal NEW QUOTATION-->
    <div class="modal fade custom-width hidden-print" id="newclient-modal">
        <div class="modal-dialog" style="width: 30%">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title"><strong>Nuevo Cliente</strong></h3>
                </div>

                <div class="modal-body">


                    <label>Nombre del cliente:</label>
                    <br />
                    <br />
                    <input class="form-control" type="text" id="newclient-name-input" placeholder="">

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button id="newclient-submit-button" type="button" class="btn btn-malbec">Guardar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock panelcontent %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ BASE_URL }}/assets/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="{{ BASE_URL }}/assets/bower_components/EasyAutocomplete/dist/jquery.easy-autocomplete.min.js"></script>
    <script src="{{ BASE_URL }}/assets/js/object-watch.js"></script>
    <script src="{{ BASE_URL }}/assets/js/panelClient.js"></script>
{% endblock javascript %}
