{% extends "basePanel.twig" %}

{% block title %} {{ parent() }} VISITAS {% endblock title %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ BASE_URL }}/assets/bower_components/bootstrap-toggle/css/bootstrap-toggle.min.css">
    <link rel="stylesheet" href="{{ BASE_URL }}/assets/bower_components/datatables/media/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{{ BASE_URL }}/assets/bower_components/EasyAutocomplete/dist/easy-autocomplete.min.css">
    <link rel="stylesheet" href="{{ BASE_URL }}/assets/css/panel.css">
{% endblock stylesheet %}

{% block panelcontent %}
    <div class="main-tile hidden-print">
        <div class="icon"><i class="entypo-calendar"></i></div>
        <div class="num">Visitas</div>
        <button href="javascript:;" onclick="jQuery('#newvisit-modal').modal('show');"  type="button" class="btn btn-malbec hidden-print">
            <i class="entypo-plus"></i>
            Nueva Visita
        </button>
    </div>
    <div class="table-responsive">
        <table id="visits-list" class="table table-hover table table-bordered datatable responsive hidden-print">
            <thead>
                <tr>
                    <th>SUCURSAL</th>
                    <th>FECHA</th>
                    <th>ESTADO</th>
                    <th>TECNICOS ASIGNADOS</th>
                    <th>REVISIONES</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                {% for visit in visits %}
                    <tr>
                        <td>{{ visit.sucursal_nombre }}</td>
                        <td>{{ visit.visita_fecha|date('d/m/Y') }}</td>
                        <td>
                            {% if visit.visita_estado == 'ABIERTA' %}
                                <input type="checkbox" data-id="{{ visit.visita_id }}" class="toggle-visit-state" checked data-toggle="toggle" data-on="ABIERTA" data-off="CERRADA" data-onstyle="success" data-offstyle="primary">
                            {% else %}
                                <input type="checkbox" data-id="{{ visit.visita_id }}" class="toggle-visit-state" data-toggle="toggle" data-on="ABIERTA" data-off="CERRADA" data-onstyle="success" data-offstyle="primary">
                            {% endif %}
                        </td>
                        <td>{{ visit.nombre_tecnicos }}</td>
                        <td><a type="button" class="btn btn-sm btn-gold" href="{{ BASE_URL }}/panel/visita/{{ visit.visita_id }}/revisiones">Ver ({{ visit.nrev }})</a></td>
                        <td>
                            <input type="hidden" value="{{ visit.visita_id }}" />
                            <button type="button" class="btn btn-sm btn-green "><i class="fa fa-pencil"></i></button>
                            <button type="button" class="btn btn-sm btn-danger visita-delete_action-button"><i class="fa fa-close"></i></button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal NEW VISIT-->
    <div class="modal fade custom-width hidden-print" tabindex="-1" id="newvisit-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Nueva Visita</h3>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label>Rut de la Sucursal:</label>
                        <br />
                        <input class="form-control" style="width:500px" type="text" id="newvisit-branch-id-input" placeholder="">
                    </div>
                    <div class="form-group">
                        <label>Fecha de la visita:</label>
                        <br />
                        <input class="form-control datepicker" style="width:500px" type="text" id="newvisit-date-input" placeholder="Seleccione la fecha de la visita">
                    </div>
                    <div class="form-group">
                        <label>Tecnicos:</label>
                        <br />
                        <input class="form-control" style="width:500px" type="text" id="newvisit-technician-input" placeholder="">
                    </div>
                    <br />
                    <div class="table-responsive">
                        <table id="technicians-list" class="table table table-bordered datatable responsive hidden-print">
                            <thead>
                                <tr>
                                    <th>RUT</th>
                                    <th>NOMBRE</th>
                                    <th>APELLIDO</th>
                                    <th>ROL</th>
                                    <th>ELIMINAR</th>
                                </tr>
                            </thead>
                            <tbody>
                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button id="newvisit-submit-button" type="button" class="btn btn-gold">Guardar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock panelcontent %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ BASE_URL }}/assets/bower_components/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
    <script src="{{ BASE_URL }}/assets/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="{{ BASE_URL }}/assets/bower_components/EasyAutocomplete/dist/jquery.easy-autocomplete.min.js"></script>
    <script src="{{ BASE_URL }}/assets/js/object-watch.js"></script>
    <script src="{{ BASE_URL }}/assets/js/panelVisit.js"></script>
{% endblock javascript %}
