{% extends "basePanel.twig" %}

{% block title %} {{ parent() }} TECNICOS {% endblock title %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ BASE_URL }}/assets/bower_components/datatables/media/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{{ BASE_URL }}/assets/bower_components/EasyAutocomplete/dist/easy-autocomplete.min.css">
    <link rel="stylesheet" href="{{ BASE_URL }}/assets/css/panel.css">
{% endblock stylesheet %}

{% block panelcontent %}
    <div class="main-tile hidden-print">
        <div class="icon"><i class="entypo-tools"></i></div>
        <div class="num">Técnicos</div>
        <button href="javascript:;" onclick="jQuery('#newtechnician-modal').modal('show');"  type="button" class="btn btn-malbec hidden-print">
            <i class="entypo-plus"></i>
            Nuevo Tecnico
        </button>
    </div>

    <div class="table-responsive">
        <table id="technicians-list" class="table table-hover table-bordered datatable responsive hidden-print">
            <thead>
                <tr>
                    <th>RUT</th>
                    <th>NOMBRES</th>
                    <th>APELLIDOS</th>
                    <th>ROL</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                {% for technician in technicians %}
                    <tr>
                        <td>{{ technician.tecnico_id }}</td>
                        <td>{{ technician.tecnico_nombre }}</td>
                        <td>{{ technician.tecnico_apellido }}</td>
                        <td>{% set rol = technician.tecnico_rol %}
                            {% if rol==0 %}AYUDANTE{% endif %}
                            {% if rol==1 %}TÉCNICO MANTENEDOR{% endif %}
                            {% if rol==2 %}TÉCNICO AVANZADO{% endif %}
                        </td>

                        <td>
                            <input type="hidden" value="{{ technician.tecnico_id }}" />
                            <button type="button" class="btn btn-sm btn-danger technician-delete_action-button"><i class="fa fa-close"></i></button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Modal NEW TECHNICIAN-->
    <div class="modal fade custom-width hidden-print" id="newtechnician-modal">
        <div class="modal-dialog" style="width: 40%">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Nuevo Técnico</h3>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label>RUT:</label>
                        <br />
                        <input class="form-control" type="text" id="newtechnician-id-input" placeholder="">
                    </div>
                    <div class="form-group">
                        <label>Nombres:</label>
                        <br />
                        <input class="form-control" type="text" id="newtechnician-name-input" autofocus placeholder="">
                    </div>
                    <div class="form-group">
                        <label>Apellidos:</label>
                        <br />
                        <input class="form-control" type="text" id="newtechnician-secondname-input" placeholder="">
                    </div>
                    <div class="form-group">
                        <label>Contraseña:</label>
                        <br />
                        <input class="form-control" type="text" id="newtechnician-password-input" placeholder="">

                    </div>
                    <div class="form-group">
                        <label>Rol del Tecnico:</label>
                        <select id="newtechnician-rol-input" class="form-control">
                            <option value="0">AYUDANTE</option>
                            <option value="1">TÉCNICO MANTENEDOR</option>
                            <option value="2">TÉCNICO AVANZADO</option>
                        </select>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button id="newtechnician-submit-button" type="submit" class="btn btn-gold">Guardar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock panelcontent %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ BASE_URL }}/assets/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="{{ BASE_URL }}/assets/bower_components/EasyAutocomplete/dist/jquery.easy-autocomplete.min.js"></script>
    <script src="{{ BASE_URL }}/assets/js/object-watch.js"></script>
    <script src="{{ BASE_URL }}/assets/js/panelTechnician.js"></script>
{% endblock javascript %}
