{% extends "basePanel.twig" %}

{% block title %} {{ parent() }} REVISIONES {% endblock title %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ BASE_URL }}/assets/bower_components/datatables/media/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{{ BASE_URL }}/assets/bower_components/EasyAutocomplete/dist/easy-autocomplete.min.css">
    <link rel="stylesheet" href="{{ BASE_URL }}/assets/css/panel.css">
{% endblock stylesheet %}

{% block panelcontent %}
    <ol class="breadcrumb">
        <li>
            <a href="{{ BASE_URL }}/panel/visitas">
                <i class="entypo-calendar"></i>
                Visitas
            </a>
        </li>
        <li class="active">{{visit.visita_id}} ({{ visit.visita_fecha|date('d/m/Y') }} -> {{ visit.sucursal_nombre }})</li>
    </ol>
    <div class="main-tile hidden-print">
        <div class="num">Revisiones por visita</div>
    </div>
    <div class="table-responsive">
        <table id="revisions-list" class="table table table-bordered datatable responsive hidden-print">
            <thead>
                <tr>
                    <th>EQUIPO ID</th>
                    <th>ETIQUETA</th>
                    <th>SUCURSAL</th>
                    <th>TIPO</th>
                    <th>NOTAS</th>
                </tr>
            </thead>
            <tbody>
                {% for revision in revisions %}
                    <tr>
                        <td># {{ revision.equipo_id }}</td>
                        <td>{{ revision.equipo_nombre }}</td>
                        <td>{{ revision.sucursal_nombre }}</td>
                        <td>{% set estado = revision.revision_tipo %}
                            {% if estado==0 %}INSTALACION{% endif %}
                            {% if estado==1 %}REPARACION{% endif %}
                            {% if estado==2 %}MANTENCION{% endif %}
                            {% if estado==3 %}RETIRO{% endif %}
                        </td>
                        <td>{{ revision.revision_notas }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock panelcontent %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ BASE_URL }}/assets/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="{{ BASE_URL }}/assets/bower_components/EasyAutocomplete/dist/jquery.easy-autocomplete.min.js"></script>
    <script src="{{ BASE_URL }}/assets/js/object-watch.js"></script>
    <script src="{{ BASE_URL }}/assets/js/visitRevision.js"></script>
{% endblock javascript %}
